.container {
  display: grid;
  grid-template-areas: 
    "content portrait"
    "form form"
  ;
  gap: 96px 48px;
  grid-template-columns: 2fr minmax(240px, 1fr);
  grid-auto-rows: max-content;
  max-width: 960px;
}
.portraitContainer {
  flex: 1;
  grid-area: portrait;
  max-width: 360px;
}
.portrait {
  box-shadow: 8px 8px 0 var(--color-primary);
}
.title {
  font-weight: 300;
  color: black;
  margin-top: 48px;
  text-align: right;
  line-height: 6.4rem;
}
.content {
  grid-area: content;
}
.bio {
  color: var(--color-gray4);
}
.formContainer {
  grid-area: form;
  display: flex;
  justify-content: center;
  position: relative;
}
.form {
  min-width: 320px;
  width: 40%;
  display: flex;
  gap: 16px;
  flex-direction: column;
  position: relative;
}
.formHeader {
  margin: 0;
  text-transform: uppercase;
}
.formFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.formError {
  color: var(--color-error);
}
.formSuccessIcon {
  color: var(--color-success);
}
.loadingOverlay {
  background-color: rgba(251, 251, 251, 0.75);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.loadingInner {
  height: 48px;
  width: 48px;
  position: relative;
}

@media screen and (max-width: 960px) {
  .content {
    flex: 2;
  }
}