.container {
  display: grid;
  grid-template-areas: 
    "portrait content"
    "form form"
  ;
  gap: 96px 48px;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: max-content;
}
.portraitContainer {
  flex: 1;
  grid-area: portrait;
}
.portrait {
  box-shadow: 8px 8px 0 var(--color-primary);
}
.title {
  font-weight: 300;
  font-size: 3.6rem;
  color: black;
  margin-top: 96px;
}
.content {
  grid-area: content;
}
.bio {
  font-size: clamp(1.2rem, 1vw, 1.6rem);
}
.formContainer {
  grid-area: form;
  display: flex;
  justify-content: center;
}
.form {
  min-width: 320px;
  width: 50%;
}

@media screen and (max-width: 960px) {
  .content {
    flex: 2;
  }
}