.workList {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding-right: 24px;
  /* width: 100%; */
}
.workItemContainer {
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  padding-right: 48px;
  /* width: 100%; */
}

.prevNextArrows {
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  bottom: 24px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prevNextArrow {
  color: var(--color-gray4);
  height: 28px;
  width: 42px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0.6;
  transition: var(--transition-default);
  cursor: pointer;
}
.prevNextArrow a {
  position: absolute;
  top: 0;
  left: 0;
}
.prevNextArrow:hover {
  opacity: 1;
  color: var(--color-primary);
}
.prevNextArrowDisabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.2;
}
.prevNextIcons {
  font-size: 4.2rem;
}
.backToTop {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 1.1rem;
  align-items: center;
  margin-top: 6px;
}
.backToTop > span {
  font-size: 1.6rem;
  margin-top: -8px;
}