.app {
  height: calc(100vh - 64px);
  inset: 32px;
  position: absolute;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 64px;
  max-width: 1600px;
}

.content {
  display: flex;
  justify-content: center;
}

.sidebarContainer {
  position: sticky;
  top: 32px;
}

.mainHeader {
  font-size: 4rem;
  line-height: 90%;
  font-weight: 700;
  letter-spacing: -0.3rem;
  text-align: right;
}

.nav {
  list-style-type: none;
  margin: 24px 0 0;
  padding: 0;
}
.nav li a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--color-gray3);
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  width: 100%;
  padding: 4px 0;
  font-weight: 500;
  transition: var(--transition-default);
}
.nav li a,
.nav li a .icon {
  font-size: 1.4rem;
}
.nav li a .icon {
  opacity: 0;
  margin-right: 8px;
  color: var(--color-gray2);
  transition: var(--transition-default);
  transform: translateX(-8px);
}
.nav li a:hover {
  color: var(--color-primary);
}
.nav li a:hover .icon {
  transform: translateX(0);
  opacity: 1;
}