.app {
  height: calc(100vh - 64px);
  padding: 32px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 64px;
  max-width: 1600px;
  color: var(--color-gray2);
}

.content {
  display: flex;
  justify-content: center;
}

.main-header {
  font-size: 4rem;
  line-height: 90%;
  font-weight: 700;
  letter-spacing: -0.3rem;
  text-align: right;
}

.nav {
  list-style-type: none;
  margin: 24px 0 0;
  padding: 0;
}
.nav li a {
  display: block;
  font-size: 1.4rem;
  color: var(--color-gray2);
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  width: 100%;
  padding: 4px 0;
  font-weight: 500;
}