body {
  background: radial-gradient(circle, var(--color-gray1) 0%, var(--color-gray2) 100%);
  background: var(--color-gray2);
  color: lime;
}

.app {
  height: calc(100vh - 64px);
  padding: 32px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 64px;
  max-width: 1600px;
}

.content {
  display: flex;
  justify-content: center;
}

.main-header {
  font-size: 3.6rem;
  line-height: 90%;
  font-weight: bold;
  letter-spacing: -0.3rem;
  color: var(--color-primary);
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav a {
  color: var(--color-gray1);
  text-decoration: none;
  text-transform: capitalize;
}