.workItem {
  position: relative;
}
.imgViewer {
  box-shadow: 0px 0px 80px -16px rgba(0,0,0,0.15);
}

.title {
  position: absolute;
  bottom: 100%;
  left: 100%;
  margin: 0;
  font-weight: 300;
  font-size: 3.6rem;
  transform: rotate(90deg);
  transform-origin: left bottom;
  width: max-content;
}

.description {
  position: absolute;
}